<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Noticia Criada!</title>
</head>
<body>
    <%- include('nav') -%>
    <p>A Noticia <%= noticia.titulo %> Foi criada com sucesso! </p>
</body>
</html>